.detail-page {
    min-height: 100vh;
    display: grid;
    grid-template: 1fr 130px / repeat(2, 1fr);
    justify-items: center;
    padding: 30px;
    box-sizing: border-box;
    row-gap: 30px;
}

.detail-page__img {
    height: 40vw;
    width: 40vw;
    background: url(./img/mercury.png) center / cover no-repeat;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: center;
}

.detail-page__title {
    font-size: 50px;
    text-transform: uppercase;
}

.detail-page__info {
    width: 100%;
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    justify-self: end;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    grid-area: 1 / 2 / 2 / 3;
}

.detail-page__facts {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.detail-page__fact {
    padding: 25px;
    height: 100%;
    width: 20vw;
    min-width: 250px;
    border: #393857 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-page__fact-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #393857;
}

.detail-page__fact-value {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}